/*********FEED*********/

/* Estilos para la imagen de fondo */
.backgroundImgF {
  background-size: cover; /* Establece el tamaño de la imagen de fondo para cubrir todo el elemento */
  background-position: center; /* Centra la imagen de fondo */
  background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
  opacity: 50%; /* Establece la opacidad al 50% */
  background-image: url("../imagenes/background-feed.jpg"); /* Establece la imagen de fondo */
  position: fixed; /* Establece la posición fija */
  top: 0; /* Alinea la imagen de fondo en la parte superior */
  left: 0; /* Alinea la imagen de fondo en la parte izquierda */
  z-index: -1; /* Establece la posición z del elemento detrás del contenido principal */
  width: 100%; /* Establece el ancho al 100% */
  height: 100vh; /* Establece la altura al 100% del viewport */
  object-fit: cover; /* Ajusta la imagen de fondo para que cubra todo el elemento */
}

/* Estilos para el contenedor principal */
.containerF {
  max-width: 800px; /* Establece el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
  padding: 20px; /* Agrega un espacio interno de 20px alrededor del contenedor */
}

/* Estilos para el logo */
.logoF {
  content: url('../imagenes/logo-marchantes-feed.png'); /* Establece la imagen del logo */
  display: block; /* Hace que el elemento sea un bloque y ocupe todo el ancho disponible */
  position: relative; /* Establece la posición relativa */
  top: 5px; /* Desplaza el logo 5px hacia abajo */
}

/* Estilos para el contenedor de composición */
.compose-container {
  margin-top: 20px; /* Agrega un margen superior de 20px */
  background-color: #fff; /* Establece el color de fondo blanco */
  border: 1px solid #ccc; /* Establece un borde de 1px sólido de color gris claro */
  padding: 20px; /* Agrega un espacio interno de 20px alrededor del contenedor */
  border-radius: 20px; /* Establece una esquina redondeada de 20px */
}

/* Estilos para el área de texto de la composición */
.compose-text {
  width: 100%; /* Establece el ancho al 100% */
  height: 100px; /* Establece la altura en 100px */
  margin-bottom: 10px; /* Agrega un margen inferior de 10px */
  resize: none; /* Evita que el área de texto sea redimensionable */
  border: none; /* Elimina el borde */
  font-size: 18px; /* Establece el tamaño de fuente en 18px */
  color: #2a2929; /* Establece el color de fuente */
}

/* Estilos para las opciones de la composición */
.compose-options {
  display: flex; /* Hace que los elementos internos se muestren en línea */
  justify-content: space-between; /* Distribuye el espacio disponible de manera uniforme entre los elementos */
}

.compose-option {
  padding: 10px; /* Agrega un espacio interno de 10px alrededor del elemento */
  border: none; /* Elimina el borde */
  background-color: transparent; /* Establece el color de fondo transparente */
  color: #2a2929; /* Establece el color de fuente */
  font-size: 16px; /* Establece el tamaño de fuente en 16px */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima del elemento */
}

.compose-send {
  background-color: #628eec; /* Establece el color de fondo */
  color: #fff; /* Establece el color de fuente */
  font-weight: bold; /* Establece el peso de fuente en negrita */
  border-radius: 20px; /* Establece una esquina redondeada de 20px */
  padding: 10px 20px; /* Agrega un espacio interno de 10px en la parte superior e inferior, y 20px en los lados izquierdo y derecho */
  margin-left: auto; /* Mueve el elemento hacia la izquierda todo lo posible */
}

.logout-button {
  background-color: #ff7c7c; /* Establece el color de fondo */
  color: #fff; /* Establece el color de fuente */
  font-weight: bold; /* Establece el peso de fuente en negrita */
  padding: 10px 20px; /* Agrega un espacio interno de 10px en la parte superior e inferior, y 20px en los lados izquierdo y derecho */
  border: none; /* Elimina el borde */
  border-radius: 20px; /* Establece una esquina redondeada de 20px */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima del elemento */
  position: absolute; /* Establece la posición absoluta */
  top: 20px; /* Alinea el elemento en la parte superior a 20px del borde superior del elemento padre */
  right: 20px; /* Alinea el elemento en la parte derecha a 20px del borde derecho del elemento padre */
}

/* Estilos de los posts */

#posts-container {
  margin-top: 20px; /* Agrega un margen superior de 20px */
  background-color: #fff; /* Establece el color de fondo blanco */
  border: 1px solid #ccc; /* Establece un borde de 1px sólido de color gris claro */
  padding: 20px; /* Agrega un espacio interno de 20px alrededor del contenedor */
  border-radius: 20px; /* Establece una esquina redondeada de 20px */
}

.post-separator {
  border: none; /* Elimina el borde */
  height: 1px; /* Establece la altura en 1px */
  background-color: #ccc; /* Establece el color de fondo gris claro */
  margin: 30px 0; /* Agrega un margen superior e inferior de 30px y margen izquierdo y derecho de 0 */
}
