/*********LOGIN*********/
.containerL {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding-top: 0px;
  margin-top: 150px;
}

.backgroundImgL {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 50%;
  background-image: url("../imagenes/background-login.jpg");
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.logoL {
  content: url('../imagenes/logo-marchantes.png');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
}

.nombreLabelL {
  margin-bottom: 10px;
  text-align: left;
  padding-top: 30px;
}

#nombre-InputL {
  margin-bottom: 20px;
  text-align: left;
}

.emailLabelL {
  margin-top: 20px;
  text-align: left;
}

.emailInputL {
  margin-top: 10px;
  text-align: left;
}

#contraseña-LabelL {
  margin-bottom: 0px;
  text-align: left;
  padding-top: 40px;
}

.contraseñaInputL {
  margin-top: 10px;
  text-align: left;
}

.continuarBtnL {
  min-width: 130px;
  color: #2d2b2b;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: none;
  background: #ffffff;
  box-shadow: 0;
  margin-top: 50px;
}

#continuar-GoogleBtnL {
  min-width: 130px;
  color: #2d2b2b;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: none;
  background: #ffffff;
  box-shadow: 0;
  margin-top: 50px;
}

/*
.logoGoogleL {
  margin-right: 8px;
}
*/

/* Dispositivos móviles pequeños (por ejemplo, iPhone) */
@media only screen and (max-width: 480px) {
  /* Agrega tus estilos específicos para dispositivos móviles pequeños aquí */
}

/* Dispositivos móviles medianos (por ejemplo, tablets) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  /* Agrega tus estilos específicos para dispositivos móviles medianos aquí */
}

/* Dispositivos móviles grandes (por ejemplo, tablets en modo apaisado) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Agrega tus estilos específicos para dispositivos móviles grandes aquí */
}

/* Pantallas pequeñas y dispositivos con resolución baja */
@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  /* Agrega tus estilos específicos para pantallas pequeñas aquí */
}

/* Pantallas medianas y dispositivos con resolución media */
@media only screen and (min-width: 1367px) and (max-width: 1680px) {
  /* Agrega tus estilos específicos para pantallas medianas aquí */
}

/* Pantallas grandes y dispositivos con resolución alta */
@media only screen and (min-width: 1681px) {
  /* Agrega tus estilos específicos para pantallas grandes aquí */
}