@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Sarabun:wght@300&family=Source+Sans+Pro:ital@1&display=swap');

* {
  font-family: 'Alegreya Sans', sans-serif;
  /* margin: auto; */

}

/* --------VISTA DEL INICIO------- */
.contenedorGeneral {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 899px;
  width: 414px;
  padding: 10px;
  background: linear-gradient(0deg, #c4f582c2 64%, #e3b386c2 97%);
  box-sizing: border-box;
  position: relative;
  border: 0.5px solid #000000;
  border-radius: 20px;
}

.logoMarchantes {
  position: absolute;
  width: 200px;
  height: 200px;
  backdrop-filter: blur(2px);
  left: 0;
  right: 0;
  margin: auto;
  top: 55px;
}

.iniciarSesionBtn {
  position: absolute;
  top: 550px;
  left: 95px;
  right: 95px;
  background-color: #fefbfb;
  color: #000000;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #e86864;
  font-size: 24px;
}

.iniciarSesionBtn:active {
  background-color: #c4f582c2
}

.txtIngresaMail {
  top: 350px;
  color: #000000;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
 
}

.mailInput {
  position: absolute;
  top: 400px;
  left: 97px;
  right: 97px;
  background-color: white;
  color: black;
  font-size: 24px;

}

.txtIngresaClave {
  position: absolute;
  top: 450px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
 
}

.claveInput {
  position: absolute;
  top: 500px;
  left: 97px;
  right: 97px;
  background-color: white;
  color: black;
  font-size: 24px;

}


.botonRegistro {
  position: absolute;
  top: 650px;
  left: 97px;
  right: 70px;
  color: #000000;

}

/* ------VISTA DEL MURO------ */
.contenedorMuro {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 896px;
  width: 414px;
  background: linear-gradient(0deg, #c4f582c2 64%, #e3b386c2 97%);
  box-sizing: border-box;
  position: relative;
  border: 0.5px solid #000000;
  border-radius: 20px;
}

/* boton de cerrar sesion */
.botonSalir {
  flex-direction: row-reverse;
  display: flex;
  align-self: flex-end;
  position: absolute;
  background-color: #eeeeee;
  color: #000000;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #5f605f40;
  font-size: 16px;
  border-color: #e86864;

}

.logoMarchantesMuro {
  flex-direction: row;
  display: flex;
  align-self: flex-start;
  width: 100px;
  height: 100px;
  /* backdrop-filter: blur(2px); */
  left: 0;
  right: 0;
  top: 30px;
  padding: 10px;

}

.areaDelPost {
  border-color: #e86864;
  border-radius: 5px;
  top: 40px;
  width: 90%;
  height: 100px;
  resize: none;
  font-size: 16px;
  outline: none;

}

/* ------VISTA DEL REGISTRO------ */
.contenedorRegister {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 896px;
  width: 414px;
  background: linear-gradient(0deg, #c4f582c2 64%, #e3b386c2 97%);
  box-sizing: border-box;
  position: relative;
  border: 0.5px solid #000000;
  border-radius: 20px;
}

.registrarseAqui {
  position: absolute;
  top: 651px;
  left: 95px;
  right: 95px;
  background-color: #fefbfb;
  color: #000000;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-color: #e86864;
  font-size: 24px;

}

.registrarseAqui:active {
  background-color: #c4f582c2
}


.botonGoogle {
  color: #e86864;
  position: absolute;
  top: 700px;
  left: 97px;
  right: 70px;
  color: #000000;
}

.textoRegistro {
  align-items: center;
  color: #000000;
  position: absolute;
  font-size: 24px;
  font-weight: bold;
  top: 300px;
}

.botonVolver {
  flex-direction: row-reverse;
  display: flex;
  align-self: flex-end;
  position: absolute;
  background-color: #eeeeee;
  color: #000000;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #5f605f40;
  font-size: 16px;
  border-color: #e86864;
}

/* } */

/* 
// MEDIDAS PARA PC`xl` applies to large devices (desktops, less than 1200px) */
@media only screen and (min-width: 768px) and (max-width: 1400px) {

  /* ------VISTA DEL INICIO------ */
  .contenedorGeneral {
    position: absolute;
    background: linear-gradient(0deg, #c4f582c2 64%, #e3b386c2 97%);
    display: flex;
    justify-content: center;
    height: 1300px;
    width: 800px;
    /* box-sizing: border-box; */
    /* position: relative; */
    border: 0.5px solid #000000;
    border-radius: 20px;
  }

  .logoMarchantes {
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    backdrop-filter: blur(2px);
    left: 0;
    right: 0;
    margin: auto;
    top: 55px;
  }

  .iniciarSesionBtn {
    background-color: #fefbfb;
    position: absolute;
    top: 651px;
    left: 95px;
    right: 95px;
    color: #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #e86864;
    font-size: 24px;
  }

  .iniciarSesionBtn:active {
    background-color: #c4f582c2
  }

  .txtIngresaMail {
    top: 450px;
    color: #000000;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
   
  }

  .mailInput {
    position: absolute;
    top: 500px;
    left: 97px;
    right: 97px;
    background-color: white;
    color: black;
    font-size: 24px;

  }

  .txtIngresaClave {
    position: absolute;
    top: 550px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;

  }

  .claveInput {
    position: absolute;
    top: 600px;
    left: 97px;
    right: 97px;
    background-color: white;
    color: black;
    font-size: 24px;
  }

  .botonRegistro {
    position: absolute;
    top: 700px;
    left: 97px;
    right: 70px;
    color: #000000;
    font-size: 24px;
  }

  /* ------VISTA DEL MURO------ */
  .contenedorMuro {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 896px;
    width: 414px;
    background: linear-gradient(0deg, #c4f582c2 64%, #e3b386c2 97%);
    /* box-sizing: border-box; */
    position: relative;
    border: 0.5px solid #000000;
    border-radius: 20px;
  }

  .logoMarchantesMuro {
    flex-direction: row;
    display: flex;
    align-self: flex-start;
    width: 100px;
    height: 100px;
    /* backdrop-filter: blur(2px); */
    left: 0;
    right: 0;
    top: 30px;
    padding: 10px;

  }

  .areaDelPost {
    border-color: #e86864;
    border-width: 2px;
    top: 40px;

  }

  .botonSalir {
    flex-direction: row-reverse;
    display: flex;
    align-self: flex-end;
    position: absolute;
    background-color: #eeeeee;
    color: #000000;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #5f605f40;
    font-size: 16px;
    border-color: #e86864;
    box-sizing: border-box;

  }

  /* ------VISTA DEL REGISTRO------ */
  .contenedorRegister {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    max-height: 896px;
    max-width: 414px;
    background: linear-gradient(0deg, #c4f582c2 64%, #e3b386c2 97%);
    box-sizing: border-box;
    position: relative;
    border: 0.5px solid #000000;
    border-radius: 20px;
  }

  .registrarseAqui {
    position: absolute;
    top: 651px;
    left: 95px;
    right: 95px;
    background-color: #fefbfb;
    color: #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #e86864;
    font-size: 24px;

  }

  .registrarseAqui:active {
    background-color: #c4f582c2
  }


  .botonGoogle {
    color: #e86864;
    position: absolute;
    top: 800px;
    left: 97px;
    right: 70px;
    color: #000000;
  }

  .textoRegistro {
    align-content: center;
    color: #000000;
    position: absolute;
    font-size: 24px;
    font-weight: bold;
    top: 300px;
  }

  .botonVolver {
    flex-direction: row-reverse;
    display: flex;
    align-self: flex-end;
    position: absolute;
    background-color: #eeeeee;
    color: #000000;
    border-radius: 4px;
    box-shadow: 0px 4px 4px #5f605f40;
    font-size: 16px;
    border-color: #e86864;
  }
}