/* // `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');
*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
  .contenedorGeneral {
    height: 896px;
    width: 414px;
    background: linear-gradient(0deg, #c4f582c2 64%, #e3b386c2 97%);
    box-sizing: border-box;
    position: relative;
    border: 0.5px solid #000000;
    border-radius: 20px;
  }

  .logoMarchantes {
    position: absolute;
    width: 200px;
    height: 200px;
    backdrop-filter: blur(2px);
    left: 0;
    right: 0;
    margin: auto;
    top: 55px;
  }

  .iniciarSesionBtn {
    position: absolute;
    top: 651px;
    left: 95px;
    right: 95px;
    background-color: #fefbfb;
    color: #000000;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-color: #e86864;
    font-size: 24px;
  }

  .iniciarSesionBtn:active {
    background-color: #c4f582c2
  }

  .mailInput {
    position: absolute;
    top: 500px;
    left: 97px;
    right: 97px;
    background-color: white;
    color: black;
    font-size: 24px;

  }

  .claveInput {
    position: absolute;
    top: 600px;
    left: 97px;
    right: 97px;
    background-color: white;
    color: black;
    font-size: 24px;
  
  }

  .botonRegistro{
    position: absolute;
    grid-area: span;
    top: 700px;
    left: 97px;
    right: 70px;
    color: #000000;

  }
}